<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <section th:fragment="gallerySession">
        <div class="container text-center primary-overlay py-3">
            <h3>WE ALSO HAVE KIDS CHOICE BOOKS</h3>
            <div class="row mb-4">
                <div class="col-md-3">
                    <img src="https://m.media-amazon.com/images/I/81+wbWcHLbL._AC_UL480_QL65_.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-3">
                    <img src="https://m.media-amazon.com/images/I/812oNxmfS0L._AC_UL480_QL65_.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-3">
                    <img src="https://m.media-amazon.com/images/I/71sH3vxziLL._AC_UL480_QL65_.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-3">
                    <img src="https://m.media-amazon.com/images/I/71CY50T1sML._AC_UY327_FMwebp_QL65_.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-3">
                    <img src="https://m.media-amazon.com/images/I/91X7sWvEvvL._AC_UY327_FMwebp_QL65_.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-3">
                    <img src="https://m.media-amazon.com/images/I/91GmkL1I5DL._AC_UY327_FMwebp_QL65_.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-3">
                    <img src="https://m.media-amazon.com/images/I/91dXouQ8fYL._AC_UY327_FMwebp_QL65_.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-3">
                    <img src="https://m.media-amazon.com/images/I/51L3oFdAUAL._AC_UY327_FMwebp_QL65_.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
</body>
</html>