<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<section th:fragment="userHeading">
  <div id="image" class="jumbotron jumbotron-fluid text-dark">
    <div class="container my-5">
      <h1 class="display-3">Krystal's BookStore</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur deserunt fugit minima, nulla numquam quo saepe sint. Accusamus aspernatur consequatur cumque ea, eligendi est porro qui repudiandae unde? Maxime!
      </p>
      <a href="#" class="btn btn-success btn-lg">Sign Up Here!</a>
    </div>
  </div>
</section>
</body>
</html>